<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarize</title>
</head>
<body>
    <h1>Summarize</h1>

    <div>
        <form action="/summarize" method="POST">
            <textarea name="document" cols="30" rows="10"></textarea>
            <button type="submit">Summarize</button>
        </form>
    </div>

    <div>
        <h3>Summary</h3>
        <h4>{{title}}</h4>
        {% for _summary in summary %}
            <li>{{_summary}}</li>
        {% endfor %}
    </div>

    <div>
        <h3>Source Document</h3>
        <h4>{{title}}</h4>
        {% for _result in result %}
            {% if _result.selected == true %}
                <span style="background-color: yellow;">{{_result.sentence}}</span>
            {% else %}
                <span>{{_result.sentence}}</span>
            {% endif %}
            <br>
        {% endfor %}
    </div>
</body>
</html>