<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarize</title>
</head>
<body>
    <h1>Summarize</h1>

    <div>
        <form action="/summarize" method="POST">
            <textarea name="document" cols="30" rows="10"></textarea>
            <input type="submit">
        </form>
    </div>

    <div>
        <h3>Summary</h3>
        {% for summary in summaries %}
            <li>{{summary}}</li>
        {% endfor %}
    </div>

    <div>
        <h3>Document</h3>
        {% for result in results %}
            {% if result.selected == true %}
                <p style="background-color: yellow;">{{result.sentence}}</p>
            {% else %}
                <p>{{result.sentence}}</p>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>